<h1>Showing selected article</h1>

<p>Title : <%= @article.title %> </p>
<p>
  Description : <%= @article.description %>
</p>

<%= link_to "Delete this Article", article_path(@article), method: :delete %>
<%= link_to "Edit this Article", edit_article_path(@article) %>
<%= link_to "Back to Aricles", root_path %>
